:root {
  --praimary-color: #0000002d;

  --secondary-color: #87e5ff;
  --third-color: #74d333;
  --foor-color: #00b1e8;
  --fifth-color: #e8026c;
}

body {
  font-family: "PT Serif", serif;
  font-size: larger;
  margin: 0;
}
